# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DRACULAD_DONGLE

config ZMK_KEYBOARD_NAME
	default "draculad Dongle"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_DRACULAD_LEFT || SHIELD_DRACULAD_RIGHT || SHIELD_DRACULAD_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y
	
endif
