# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_DRACULAD_LEFT
	def_bool $(shields_list_contains,draculad_left)

config SHIELD_DRACULAD_RIGHT
	def_bool $(shields_list_contains,draculad_right)

config SHIELD_DRACULAD_DONGLE
	def_bool $(shields_list_contains,draculad_dongle)
